@charset "gb2312";

    .box { width:401px; float:left; border:1px solid #dbdbdb;}
    table, td{
	font:100% Arial, Helvetica, sans-serif;
    }
    table{width:100%;border-collapse:collapse;}
    th, td{text-align:left;padding:.2em;border:1px solid #fff;height: 24px}
    th{background:#B0C4DE; color:#ffffff;width: 100px}
    td{background:#e5f1f4;width:200px}
    input[type="text"]
    {
      width:200px;
      height:22px ;
      display:block;
      margin-bottom:1px;
      margin-top:1px;
      background-color:yellow;
      font-size: 18px;
    }
    input[type="submit"]
    {
      height:25px ;
      display:block;
      margin-bottom:1px;
      margin-top:1px;
      font-size: 18px;
      font-family: Verdana, Arial;
    }